<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Proxy /api requests to the backend folder
  RewriteRule ^api/(.*)$ backend/public/index.php [L,QSA]

  # Proxy /setup-db-secret to the backend folder
  RewriteRule ^setup-db-secret(.*)$ backend/public/index.php [L,QSA]

  # Standard React SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
